<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394754433117-6v37jeqgnlt5obe0utp4g0ihl2185is1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394754433117-6v37jeqgnlt5obe0utp4g0ihl2185is1</string>
	<key>API_KEY</key>
	<string>AIzaSyCkw2j8VzbDlNx4r0ngG2nfIR74k_XwCn4</string>
	<key>GCM_SENDER_ID</key>
	<string>394754433117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hcmutCapstoneProject</string>
	<key>PROJECT_ID</key>
	<string>bke-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>bke-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394754433117:ios:ca1d7e2f3c82522502edb4</string>
</dict>
</plist>